<div class="tab-content table-responsive">
  <table class="table table-striped text-ellipsis">
    <thead>
      <tr>
        <th class="col-lg-4 col-md-4 col-sm-4">{{ "email" | translate }}</th>
        <th>{{ "description" | translate }}</th>
        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">{{ "status" | translate }}</th>
        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">{{ "actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="context in accRejContexts">
        <td class="col-lg-4 col-md-4 col-sm-4 wrap-text">{{context.organization_email}}</td>
        <td>{{context.description}}</td>
        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">{{ context.status | translate }}</td>
        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
          <span class="glyphicon glyphicon-comment" aria-hidden="true" ng-click="goToDetails(context)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
