<div class="body-container">
  <div class="form-page">

    <h1 class="title">{{"who_proposed" | translate}}</h1>

    <div>
      <label>{{ "first_name" | translate }}: </label>
      {{currentProposal.proposer_first_name}}
    </div>
    <div>
      <label>{{ "last_name" | translate }}: </label>
      {{currentProposal.proposer_last_name}}
    </div>
    <div>
      <label>{{ "email" | translate }}: </label>
      {{currentProposal.proposer_email}}
    </div>
    <div>
      <label>{{ "phone_number" | translate }}: </label>
      {{currentProposal.proposer_phone_number}}
    </div>

    <h1 class="title">{{ "whom_proposed" | translate}}</h1>

    <div>
      <label>{{ "first_name" | translate }}: </label>
      {{currentProposal.mentor_first_name}}v
    </div>
    <div>
      <label>{{ "last_name" | translate }}: </label>
      {{currentProposal.mentor_last_name}}
    </div>
    <div>
      <label>{{ "email" | translate }}: </label>
      {{currentProposal.mentor_email}}
    </div>
    <div>
      <label>{{ "phone_number" | translate }}: </label>
      {{currentProposal.mentor_phone_number}}
    </div>
    <div>
      <label>{{ "facebook" | translate }}: </label>
      {{currentProposal.mentor_facebook}}
    </div>
    <div>
      <label>{{ "linkedin" | translate }}: </label>
      {{currentProposal.mentor_linkedin}}
    </div>
    <div>
      <label>{{ "active_organizations" | translate }}: </label>
      {{currentProposal.mentor_organization}}
    </div>
    <div>
      <label>{{ "reason" | translate }}: </label>
      {{currentProposal.reason}}
    </div>

      <button class="btn btn-lg btn-primary btn-block" ng-click="approveMentor()">Accept</button>
      <button class="btn btn-lg btn-primary btn-block" ng-click="rejectMentor()">Decline</button>

  </div>
</div>
