<div>
  <section class="container">
			<section class="general-form">
        <form role="form" ng-submit="login()">
				
					<input type="email" name="email" placeholder="Email" required class="form-control input-lg" ng-model="user.email"/>
					<input type="password" name="password" placeholder="Password" required class="form-control input-lg" ng-model="user.password" />
					<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
        <ul style="list-style-type: none;">
          <li ng-repeat="error in errors">
            <span class="errorMessage">{{ error | translate }}</span>
          <li>
        </ul>
        <div>
        <a ng-click="goToRegister()">Create account</a>
        </div>
			</section>
	</section>
</div>
