<div class="row flex-container">
 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6
 dashboard-futureEvents sidebar-offcanvas"
      id="sidebar" role="navigation"   style="float:left">
      <div class="well sidebar-nav">
      <H3>Pending Events</H3>
        <ul class="nav flex-item">
          <li class="active li-dsh" ng-repeat="context in pendingContexts">
              <h4>{{context.description}}</h4>
              <div class='nav-divider'></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 dashboard-requests sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
      <div class="well sidebar-nav">
      <H3>Incoming Events</H3>
        <ul class="nav flex-item">
          <li class="active li-dsh" ng-repeat="context in acceptedContexts">
            <h4>{{context.description}}</h4>
            <div class='nav-divider'></div>
          </li>
        </ul>
      </div>
    </div>
    <ul style="list-style-type: none;">
      <li ng-repeat="error in errors">
        <span class="errorMessage">{{ error | translate }}</span>
      <li>
    </ul>
  </div>
