<div class="body-container">
  <div class="form-page">
    <div class="form">
      <h1>{{ "contact_us" | translate }}</h1>
      <form ng-submit="contactUs()" autocomplete="on">
        <input name="name"  placeholder="{{ 'first_name' | translate }}" required class="form-control input-lg" ng-model="info.first_name" />
        <input name="surname" placeholder="{{ 'last_name' | translate }}" required class="form-control input-lg" ng-model="info.last_name" />
        <input type="email" name="email" placeholder="{{ 'email' | translate }}" required class="form-control input-lg" ng-model="info.email"/>
        <textarea name="message" placeholder="{{ 'message' | translate }}" class="form-control input-lg" id="message" ng-model="info.description"></textarea>
        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ "submit" | translate }}</button>
        <span ng-show="errorMessage">{{errorMessage}}</span>
      </form>
      <ul style="list-style-type: none;">
        <li ng-repeat="error in errors">
          <span class="errorMessage">{{ error | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
