<div>
  <section class="container">
    <section class="general-form">
    <form role="form" ng-submit="register()">
      <img src="../../../assets/images/logo.png" class="img-responsive" alt="" />
      <input type="email" name="email" placeholder="Email" required class="form-control input-lg" ng-model="user.email" />
      <input name="name"  placeholder="First" required class="form-control input-lg" ng-model="user.first_name" />
      <input name="surname" placeholder="Last Name" required class="form-control input-lg" ng-model="user.last_name" />
      <input name="city" placeholder="City" required class="form-control input-lg" ng-model="user.city" />
      <input type="password" name="password" placeholder="Password" required class="form-control input-lg" ng-model="user.password"/>
      <input type="password" name="passwordConfirmation" placeholder="Confirm password" required class="form-control input-lg" ng-model="user.confirm_password"/>
      <input type="number" name="phoneNumber" placeholder="Phone Number" required class="form-control input-lg" ng-model="user.phone_number" />
       <input name="skills" placeholder="Skills" required class="form-control input-lg" ng-model="user.organization.name" />
      <textarea name="form-about-yourself" placeholder="About yourself..."
      class="form-control input-lg" id="form-about-yourself" ng-model="user.description" ></textarea>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Create account</button>
    </form>
    <div class="form-links">
     <a href="#">www.mentors4me.com</a>
   </div>
  </section>
  </section>
</div>