
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Invitation </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="mentor Pic" src="../../../assets/images/img.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">

              <!-- Mentor details here -->
              <form>
              <table class="table table-mentor-information">
              
                <tbody>
                  <tr>
                  
                  <input name="name" placeholder="Name" required class="form-control input-lg"  style=" border: 0px" ng-model="mentor.name" />
                 </tr>
                 <tr>
                 
                <input name="surname" placeholder="Surname" required class="form-control input-lg"  style=" border: 0px" ng-model="mentor.surname" />
                 
                 </tr>
                 <tr>
                 <input name="email" placeholder="Email" required class="form-control input-lg"  style=" border: 0px" ng-model="mentor.email" />
                      
                </tr>
                 <tr>
                 <input name="city" placeholder="City" required class="form-control input-lg"  style=" border: 0px" ng-model="mentor.city" />
                      
                </tr>
                 <tr>
                 <select class="form-control input-lg" >
                      <option>SW Architecture</option>
                      <option>SW Testing</option>
                      <option>Public Speaking</option>
                 </select>             
                </tr>
              </tbody>
            </table>
            <!-- End of mentor details -->

            <a href="#" class="btn btn-primary"> Save </a>
            </form>
          </div>
        </div>
      </div>

      <div class="panel-footer">
      </div>

    </div>
  </div>
</div>
</div>
