<div class="body-container">
  <div class="form-page">
    <div class="form">
      <h1>{{ "invitation" | translate }} </h1>
      <form ng-submit="sendInvitation()">
        <input name="address" placeholder="{{ 'address' | translate }}"
        class="form-control input-lg"  style=" border: 0px"  id="form-about-yourself" ng-model="invitation.address" ></input>
        <textarea name="topic" placeholder="{{ 'small_description' | translate }}" required class="form-control input-lg"  ng-model="invitation.description" >
        </textarea>
        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ "submit" | translate }}</button>
      </form>
      <ul style="list-style-type: none;">
        <li ng-repeat="error in errors">
          <span class="errorMessage">{{ error | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
