
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Profile </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="mentor Pic" src="../../../assets/images/img.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-6 col-lg-9">
            <table class="table table-mentor-information">
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td> {{selectedMentor.first_name}} {{selectedMentor.last_name}}</td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td>{{selectedMentor.email}}</td>
                  </tr>
                  <tr>
                    <td>Available in</td>
                    <td>{{selectedMentor.city}}</td>
                  </tr>
                  <tr>
                    <td>Skills</td>
                    <td>
                      <ul style=" list-style-type: none">
                    		<li ng-repeat="skill in selectedMentor.skills">
                    				<h5>{{skill}}</h5>
                    		</li>
                    	</ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a ng-click="goToInvitation()" class="btn btn-primary" ng-show="isOrganization()"> Send Invitation <i class="glyphicon glyphicon-send"></i></a>
              <a ng-click="edit()" class="btn btn-primary" ng-show="isMentor"> Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul style="list-style-type: none;">
		<li ng-repeat="error in errors">
			<span class="errorMessage">{{ error | translate }}</span>
		<li>
	</ul>
</div>
