<div class="body-container">
  <aside class="profile-card">
    <header>
      <span ng-if="selectedMentor">
        <ng-letter-avatar charCount = "2" data="{{selectedMentor.first_name}} {{selectedMentor.last_name}}"></ng-letter-avatar>
      </span>
      <h1>{{selectedMentor.first_name}} {{selectedMentor.last_name}}</h1>
      <h2>{{selectedMentor.city}}</h2>
      <a ng-click="goToInvitation()" class="btn btn-md" ng-show="isOrganization()">{{ "send_invitation" | translate }}</a>
      <a ng-click="edit()" class="btn btn-md" ng-show="isCurrentMentor"> {{ "edit" | translate }} </a>
    </header>
    <div class="profile-bio">
      <div class="content-center">
        <span>
          <label>{{ "email" | translate }}: </label>
          {{selectedMentor.email}}
        </span>
        <span>
          <label>{{ "phone_number" | translate }}: </label>
          {{selectedMentor.phone_number}}
        </span>
        <span>
          <label>{{ "skills" | translate }}: </label>
          {{selectedMentor.skills.join(', ')}}
        </span>
        <span>
          <label>{{ "description" | translate }}: </label>
          {{selectedMentor.description}}
        </span>
        <ul style="list-style-type: none;">
          <li ng-repeat="error in errors">
            <span class="errorMessage">{{ error | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</div>
