<div class="body-container">
  <section class="mentors">
    <md-list-item ng-repeat="mentor in mentors" ng-click="goToDetails(mentor)" class="noright">
      <div>
        <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
        <span>{{ mentor.first_name }} {{mentor.last_name}}</span>
      </div>
      <div class="md-secondary">
        <span class="glyphicon glyphicon-globe"></span>
        <span>{{mentor.city}}</span>
      </div>
    </md-list-item>
    <ul style="list-style-type: none;">
      <li ng-repeat="error in errors">
        <span class="errorMessage">{{ error | translate }}</span>
      </li>
    </ul>
  </section>
</div>
