<section class="mentors">
	
	<ul class="ch-grid" id="mentorsList" >
		<li>
			<div class="ch-item" style="background-image: url(../../../assets/images/img.png)">
				<div class="ch-info">
					<h3>Mentor one</h3>
					<p><a href="#ref">View Details</a></p>
				</div>
			</div>
		</li>
		<li>
			<div class="ch-item" style="background-image: url(../../../assets/images/img.png)">
				<div class="ch-info">
					<h3>Mentor Two</h3>
					<p><a href="#ref">View Details</a></p>
				</div>
			</div>
		</li>
		<li>
			<div class="ch-item" style="background-image: url(../../../assets/images/img.png)">
				<div class="ch-info">
					<h3>Mentor three</h3>
					<p><a href="#ref">View Details</a></p>
				</div>
			</div>
		</li>
	</ul>
	
</section>
