<div>
  <section class="container">
      <section class="general-form">
        <form role="form" ng-submit="proposeMentor()">
          <label >{{ "propose_mentor" | translate }}</label>
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg" ng-model="proposal.email"/>
           <textarea name="why-you-propose" required placeholder="Motivation..."
      class="form-control input-lg" id="form-about-yourself" ng-model="proposal.description" ></textarea>
          <button type="submit" class="btn btn-lg btn-primary btn-block">{{ "submit" | translate }}</button>
          <span ng-show="errorProposalMessage">{{errorProposalMessage}}</span>
        </form>
        <ul style="list-style-type: none;">
          <li ng-repeat="error in errors">
            <span class="errorMessage">{{ error | translate }}</span>
          <li>
        </ul>
      </section>
  </section>
</div>
