<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4
 dashboard-futureEvents sidebar-offcanvas"
      id="sidebar" role="navigation"   style="float:left">
      <div class="well sidebar-nav">
      <H3>Futures Events</H3>
        <ul class="nav">
          <li class="active"><a href="#">Event1</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Events2</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Event3</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Event5</a></li>
          <li class='nav-divider'></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard-requests sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
      <div class="well sidebar-nav">
      <H3>Requests Events</H3>
        <ul class="nav">
          <li class="active">Request1 
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Approve</button>
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Decline</button></li>
          <li class='nav-divider'></li>
          <li>Request2
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Approve</button>
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Decline</button></li>
          <li class='nav-divider'></li>
          <li>Request3
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Approve</button>
          <button type="button" class="btn btn-default btn-sm " style="float:right">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Decline</button></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard-futureEvents sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
      <div class="well sidebar-nav">
      <H3>Past Events</H3>
        <ul class="nav">
          <li class="active"><a href="#">Past event1</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Past event 2</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Past event 3</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Past event 4</a></li>
          <li class='nav-divider'></li>
          <li><a href="#">Past event 5</a></li>
      </div><!--/.well -->
    </div><!--/span-->

  </div><!--/row-->
