<div class="body-container">
  <div class="form-page">
    <div class="form">
      <h1>{{ "create_account" | translate }}</h1>
      <uib-tabset active="activeStep">
      <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}">
      <div ng-include="tab.templateUrl"></div>
      </uib-tab>
      </uib-tabset>
      <ul style="list-style-type: none;">
        <li ng-repeat="error in errors">
          <span class="errorMessage">{{ error | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
