<div class="tab-content table-responsive">
  <input name="organizationName" placeholder="{{ 'organisation_name' | translate }}" required class="form-control input-lg" ng-model="user.organization.name" />
  <input name="city" placeholder="{{ 'city' | translate }}" required class="form-control input-lg" ng-model="user.city" />
  <textarea name="form-about-yourself" placeholder="{{ 'about_yourself' | translate }}" class="form-control input-lg" id="form-about-yourself" ng-model="user.description" ></textarea>
  <button ng-click="register()" class="btn btn-lg btn-primary btn-block">{{ "create_account" | translate }}</button>
  <button ng-click="setActiveStep(0)" class="btn btn-lg btn-primary btn-block">{{ "previous_step" | translate }}</button>
</div>
