<div class="row flex-container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4
 dashboard-futureEvents sidebar-offcanvas"
      id="sidebar" role="navigation"   style="float:left">
    	<div class="well sidebar-nav">
    		<H3>Pending Request</H3>
        	<ul class="nav flex-item">
          		<li ng-repeat="proposal in proposals "  class="active li-dsh" style="font-weight:normal ">
          			<label style="font-weight:normal">Mail:</label>
          			<span> {{proposal.email}}</span><br/>
          			<label style="font-weight:normal">Description:</label>
          	  		<span> {{proposal.description}}</span><br/>
	          		<button type="button" class="btn btn-default btn-sm " ng-click="approveMentor(proposal)">
	          		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
	          		<button type="button" class="btn btn-default btn-sm " ng-click="rejectMentor(proposal)">
	          		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <div class='nav-divider'></div>
				      </li>
        	</ul>
    	</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard-requests sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
    	<div class="well sidebar-nav">
    		<H3>Active Mentors</H3>
        	<ul class="nav flex-item">
          	<li class="active" ng-repeat="mentor in mentors">
              <label>Mail:</label>
              <span> {{mentor.email}}</span><br/>
              <label>Description:</label>
                <span> {{mentor.first_name}} {{mentor.last_name}}</span><br/>
                <button type="button" class="btn btn-default btn-sm " ng-click="rejectMentor(proposal)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <div class='nav-divider'></div>
            </li>
          </ul>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard-futureEvents sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
    	<div class="well sidebar-nav">
    		<H3>Active Organisations</H3>
        <ul class="nav flex-item">
          <li class="active" ng-repeat="organization in organizations">
            <label>Assignee:</label>
            <span> {{organization.asignee}}</span><br/>
            <label>Organization name:</label>
              <span> {{organization.name}}</span><br/>
              <button type="button" class="btn btn-default btn-sm " ng-click="rejectMentor(proposal)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <div class='nav-divider'></div>
          </li>
        </ul>
      	</div>
    </div>
    <ul style="list-style-type: none;">
      <li ng-repeat="error in errors">
        <span class="errorMessage">{{ error | translate }}</span>
      <li>
    </ul>
</div>
