.main-content {
  text-align: center;
}

.main-content-about p {
  font-family: Helvetica;
  font-style: bold;
  font-weight: 20px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}

.content-paragraf{
  font-style:italic;
  font-size: 1.3em;
  text-align: justify;
}

.main-content h1 {
  font-size: 5.0vw;
  padding-bottom: 20px;
}

.nav {
  overflow-y:scroll;
}

.margins {
  margin-right: 20px;
}
