.errorMessage{
  color: red;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: auto;
  height:100vh;
  margin-top: 10px;
  align-self: auto;

  /* line-height: 50px;*/
  color: black;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
}
.button-style-dsh {
	float:center;
	margin-left:20%;
}
.wrap-style-dsh {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.li-dsh {
  font-size: 2.2vmin;
}

.plus-sign{
  background-image: url(../images/plus_1x.png);
  width: 20px;
  height: 20px;
  float : right;
}

.clear-sign{
  background-image: url(../images/clear_1x.png);
  width: 20px;
  height: 20px;
  float : right;
}
