body{
  background: #ecf0f1;
}

.errorMessage{
  color: red;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: auto;
  height:100vh;
  margin-top: 10px;
  align-self: auto;

  /* line-height: 50px;*/
  color: black;
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
}

.plus-sign{
  background-image: url(../images/plus_1x.png);
  width: 20px;
  height: 20px;
  float : right;
}

.clear-sign{
  background-image: url(../images/clear_1x.png);
  width: 20px;
  height: 20px;
  float : right;
}

a, li {
  cursor: pointer;
}

.table.text-ellipsis {
  table-layout:fixed;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wrap-text {
  max-width: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #ffffff;
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #ecf0f1;
}
