<div class="main-content">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 
		col-sm-offset-3 col-sm-6 col-sm-offset-3
		col-md-offset-3	col-md-6 col-md-offset-3
		col-lg-offset-3 col-lg-6 col-lg-offset-3 
		col-centered">
		<img src="images/logo/mentors.png" alt="Mentors Logo" class="img-thumbnail" width="304" height="236">
		</div>
	</div>
 	<div class="row text-center">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 
		col-sm-offset-3 col-sm-6 col-sm-offset-3
		col-md-offset-3	col-md-6 col-md-offset-3
		col-lg-offset-3 col-lg-6 col-lg-offset-3  
		main-content-about col-centered">
		<h1>Mentors4Me</h1>
		<p id="content-paragraf">Proiect propus de: Upgrade my city
Proiectul reprezintă o listă cu mentori locali (antreprenori, profesori, doctori etc.), la care școlile au acces, pentru derularea unor prezentări care să-i inspire pe elevi și să le reconstruiască punctele de reper și modelele din viață.
Pentru fiecare mentor există un profil, posibile teme pe care poate le poate aborda și numărul de ore pe care mentorul le pune la dispoziție pentru comunitate. Fiecare clasă îți poate configura, de asemenea, un profil și își poate înscrie interesul ca un anumit mentor să le susțină o prezentare, la respectiva clasă. Această prezentare este planificată conform bugetului de timp cu care fiecare mentor participa.</p>
		</div>
	</div>