<div class="body-container">
  <div class="main-content">
    <div class="row text-center">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2
        col-md-8 col-lg-offset-2 col-lg-8 main-content-about col-centered">
        <h1>Mentors4Me</h1>
        <p class="main-content-about">{{ "home_text_paragraph1" | translate }}</p>
        <p class="main-content-about">{{ "home_text_paragraph2" | translate }}</p>
        <p class="main-content-about">{{ "home_text_paragraph3" | translate }}</p>
        <p class="main-content-about">{{ "home_text_paragraph4" | translate }}</p>
        <p class="main-content-about">{{ "home_text_paragraph5" | translate }}</p>
      </div>
    </div>
  </div>
</div>
