<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> {{ "edit_profile" | translate }} </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="mentor Pic" src="../../../assets/images/img.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <form>
              <table class="table table-mentor-information">

                <tbody>
                  <tr>
                  <label>{{ "email" | translate }}</label>
                  <input name="email" placeholder="Email" required class="form-control input-lg input-profile-res" ng-model="currentMentor.email" />
                 </tr>
                 <tr>
                  <label>{{ "first_name" | translate }}</label>
                  <input name="name" placeholder="FirstName" required class="form-control input-lg input-profile-res" ng-model="currentMentor.first_name" />
                 </tr>
                 <tr>
                  <label>{{ "last_name" | translate }}</label>
                  <input name="surname" placeholder="LastName" required class="form-control input-lg input-profile-res" ng-model="currentMentor.last_name" />
                 </tr>
                <tr>
                 <label>{{ "city" | translate }}</label>
                   <input name="city" placeholder="City" required class="form-control input-lg input-profile-res" ng-model="currentMentor.city" />
                 </tr>
                 <tr>
                 <label>{{ "phone_number" | translate }}</label>
                   <input name="number" placeholder="PhoneNumber" required class="form-control input-lg input-profile-res" ng-model="currentMentor.phone_number" />
                </tr>
                <tr>
                  <label>{{ "skills" | translate }}</label>
                  </br>
                  <span ng-repeat="skill in skills">
                    <span  ng-click="addSkillToList(skill.id)" name="group" id="{{skill.id}}">
                    {{skill.name}} </span>
                    <a class="clear-sign btn btn-link" ng-click="removeSkillFromList(skill)"></a>
                    <a class="plus-sign btn btn-link" ng-click="addSkillToList(skill)" ></a>
                    </br>
                  </span>
                </tr>
                <tr>
               <label>{{ "description" | translate }}</label>
                  <textarea name="form-about-yourself" placeholder="About yourself..."
                  class="form-control input-lg input-profile-res" id="form-about-yourself" ng-model="currentMentor.description" ></textarea>
                </tr>
              </tbody>
            </table>
            <div style="text-align:center">
            <a ng-click="edit()" class="btn btn-primary"> {{ "save" | translate }} </a>
            </div>
            <ul style="list-style-type: none;">
          		<li ng-repeat="error in errors">
          			<span class="errorMessage">{{ error | translate }}</span>
          		<li>
          	</ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
