<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Edit profile </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="mentor Pic" src="../../../assets/images/img.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">

              <!-- Mentor details here -->
              <form>
              <table class="table table-mentor-information">

                <tbody>
                  <tr>
                  <label>Email</label>
                  <input name="email" placeholder="Email" required class="form-control input-lg input-profile-res" ng-model="currentMentor.email" />
                 </tr>
                 <tr>
                  <label>First Name</label>
                  <input name="name" placeholder="FirstName" required class="form-control input-lg input-profile-res" ng-model="currentMentor.first_name" />
                 </tr>
                 <tr>
                  <label>Last Name</label>
                  <input name="surname" placeholder="LastName" required class="form-control input-lg input-profile-res" ng-model="currentMentor.last_name" />
                 </tr>
                <tr>
                 <label>City</label>
                   <input name="city" placeholder="City" required class="form-control input-lg input-profile-res" ng-model="currentMentor.city" />
                 </tr>
                 <tr>
                 <label>Phone number</label>
                   <input name="number" placeholder="PhoneNumber" required class="form-control input-lg input-profile-res" ng-model="currentMentor.phone_number" />
                </tr>
                <tr>
                  <label>Skills</label>
                  </br>
                  <span ng-repeat="skill in skills">
                  <span  ng-click="addSkillToList(skill.id)" name="group" id="{{skill.id}}">
                  {{skill.name}} </span>
                  <a style="float: right" ng-click="addSkillToList(skill.id)" ng-hide="displayButton(skill)"=>+</a>
                  <a style="float: right" ng-click="removeSkillFromList(skill.id)" ng-show="displayButton(skill)">-</a>
                  </br>
                  </span>
                </tr>
                <tr>
               <label>Description</label>
                  <textarea name="form-about-yourself" placeholder="About yourself..."
                  class="form-control input-lg input-profile-res" id="form-about-yourself" ng-model="currentMentor.description" ></textarea>
                </tr>
              </tbody>
            </table>
            <!-- End of mentor details -->
            <div style="text-align:center">
            <a ng-click="updateOrganization()" class="btn btn-primary"> Save </a>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="panel-footer">
      </div>

    </div>
  </div>
</div>
</div>
