<div class="container">
  <div class="row">
    <div class=" col-md-offset-1 col-lg-offset-2 col-lg-8 col-md-10 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{currentContext.description}}
          </br>
          <div>{{ "click" | translate }} <span class="btn-link" ng-click="goToMentorDetails()" >{{ "here" | translate }}</span> {{ "forMentorDetails" | translate }}</div>
        </div>
        <div class="panel-body chat">
          <div class="chat container">
            <div ng-repeat="message in messages">
              <div class="row message-bubble" >
                <p class="name" ng-if="message.sender" ng-class="isSender(message)">
                  <span>{{message.sender}}
                    <small class="text-muted timestamp">{{message.sent_at}}</small>
                  </span>
                </p>
                <p class="message">{{message.message}}</p>
              </div>
            </div>
            <div class="send-message panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="inputMessage">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="sendMessage()">{{ "send" | translate }}</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul style="list-style-type: none;">
      <li ng-repeat="error in errors">
        <span class="errorMessage">{{ error | translate }}</span>
      </li>
    </ul>
  </div>
</div>
