<div class="navbar navbar-default navbar-fixed-top">
	<div class='navbar-header'>

	<a href="#" class="navbar-brand"><img src=""></a>
	<button type='button' class="navbar-toggle" data-toggle='collapse'
	data-target='.navbar-collapse'>
		<span class="sr-only">Toggle navigation</span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
	</button>
	</div>
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
		<li><a ng-click="goToDashboard()" >Dashboard</a></li>
		<li><a ng-click="goToMentors()" >Mentors</a></li>
		<li><a ng-click="goToSuggesMentor()" >Suggest a mentor</a></li>
		<li><a ng-click="goToLogin()" ng-show="showLogin">Login</a></li>
		<li><a ng-click="logout()" ng-hide="showLogin">Logout</a></li>
	</ul>
</div>
s
