<div class="navbar navbar-default navbar-fixed-top">
	<div class='navbar-header'>
	<a href="#" class="navbar-brand">Mentors4You</a>
	<button type='button' class="navbar-toggle" data-toggle='collapse'
	data-target='.navbar-collapse'>
		<span class="sr-only">Toggle navigation</span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
	</button>
	</div>
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
		<li><a href="dashboard.html">Tablou de activitati</a></li>
		<li><a href="mentors.html">Mentori</a></li>
		<li><a href="invite_a_mentor.html">Propune un mentor</a></li>
		<li><a href="login.html">Autentificare</a></li>	
		<li><a href="mentors.html">Deconectare</a></li>	
	</ul>
</div>
