<div class="navbar navbar-inverse navbar-fixed-top">
	<div class='navbar-header'>
	<a href="#" class="navbar-brand"><img src=""></a>
	<button type='button' class="navbar-toggle" data-toggle='collapse'
	data-target='#myNavbar'>
		<span class="sr-only">Toggle navigation</span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
	</button>
	</div>
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse margins" id="myNavbar">
		<li><a ng-click="goToDashboard()" ng-show="isAuth" >Dashboard</a></li>
		<li><a ng-click="goToProfile()" ng-show="isAuth">Profile</a></li>
		<li><a ng-click="goToMentors()">Mentors</a></li>
		<li><a ng-click="goToSuggestMentor()">Suggest a mentor</a></li>
		<li><a ng-click="goToLogin()" ng-show="!isAuth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		<li><a ng-click="logout()" ng-show="isAuth"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
	</ul>
</div>
