<div class="body-container">
  <div class="form-page">
    <div class="form">
      <h1> {{ "edit_profile" | translate }}</h1>
      <form ng-submit="updateOrganization()">
        <input name="email" placeholder="{{ 'email' | translate }}" required class="form-control input-lg input-profile-res" ng-model="currentUser.email" disabled="" />
        <input name="asignee" placeholder="{{ 'assignee' | translate }}" required class="form-control input-lg input-profile-res" ng-model="currentUser.asignee" />
        <input name="name" placeholder="{{ 'organisation_name' | translate }}" required class="form-control input-lg input-profile-res" ng-model="currentUser.name" />
        <input name="city" placeholder="{{ 'city' | translate }}" required class="form-control input-lg input-profile-res" ng-model="currentUser.city" />
        <input name="phoneNumber" placeholder="{{ 'phone_number' | translate }}" required class="form-control input-lg" ng-model="currentUser.phone_number" />
        <textarea name="form-about-yourself" placeholder="{{ 'about_yourself' | translate }}"
        class="form-control input-lg input-profile-res" id="form-about-yourself" ng-model="currentUser.description" ></textarea>
        <button type="submit" class="btn btn-lg btn-primary btn-block"> {{ "save" | translate }} </button>
        <ul style="list-style-type: none;">
          <li ng-repeat="error in errors">
            <span class="errorMessage">{{ error | translate }}</span>
          </li>
        </ul>
      </form>
    </div>
  </div>
 </div>
