
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md- col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Invitation </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="mentor Pic" src="../../../assets/images/img.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">

              <!-- Mentor details here -->
              <form>
              <table class="table table-mentor-information">

                <tbody>
                  <tr>
                  <label>Email</label>
                  <input name="email" placeholder="Email" required class="form-control input-lg input-profile-res" ng-model="currentUser.email" />
                 </tr>
                 <tr>
                 <label>Asignee</label>
                   <input name="asignee" placeholder="Name" required class="form-control input-lg input-profile-res" ng-model="currentUser.asignee" />
                 </tr>
                  <tr>
                  <label>Organization Name</label>
                  <input name="name" placeholder="Organization Name" required class="form-control input-lg input-profile-res" ng-model="currentUser.name" />
                 </tr>
                 <tr>
                 <label>City</label>
                   <input name="city" placeholder="City" required class="form-control input-lg input-profile-res" ng-model="currentUser.city" />
                </tr>
                <tr>
                <label>Description</label>
                  <textarea name="form-about-yourself" placeholder="About yourself..."
                  class="form-control input-lg input-profile-res" id="form-about-yourself" ng-model="currentUser.description" ></textarea>
                </tr>
              </tbody>
            </table>
            <!-- End of mentor details -->
            <div style="text-align:center">
            <a ng-click="updateOrganization()" class="btn btn-primary"> Save </a>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="panel-footer">
      </div>

    </div>
  </div>
</div>
</div>
